<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>About Rocketseat</title>
    <link rel="icon" href="public/assets/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="public/styles/about.css">
    <link rel="stylesheet" href="public/styles/header.css">
    <script src="https://kit.fontawesome.com/bcd7f656b1.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <a href="https://rocketseat.com.br" target="_blank">
            <img src="public/assets/logo.png" alt="logomarca"></a>
        <span>
            <a href="index.html">Home</a>
            <a href="content.html">
                Courses</a>
            <a href="https://discordapp.com/invite/gCRAFh" target="_blank">Comunity</a>
            <a href="mailto: oi@rocketseat.com.br" target="_blank">Email</a>
            <a href="tel:+5547992078767" target="_blank">Phone</a>
        </span>
    </header>
    <div class="content">
        <img class="photo" alt="Launchbase" src="public/assets/logo2.png">
        <h2>About Rocketseat
        </h2>
        <p>
            More than a technology education platform, Rocketseat is an incredible community of programmers looking for the next level!
        </p>
        <p>
            They offer online courses with exciting challenges that will help programmers to learn and apply the best technologies on the market.
        </p>
        <p>
            With their great teachers, Rocketseat can help you to become a become a better programmer!
        </p>
        <p>
            Rocketseat can teach you:
        </p>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript
            </li>
            <li>NodeJS</li>
            <li>SQL</li>
            <li>PostgreSQL</li>
        </ul>

        <a href="https://github.com/Rocketseat">
            <i class="fab fa-github"></i>
            <a href="https://www.facebook.com/rocketseat">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="instagram.com/rocketseat_oficial/">
                <i class="fab fa-instagram"></i>
            </a>

        </div>
    </body>
</html>