<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Challenge 02</title>
        <link rel="icon" href="public/assets/favicon.ico" type="image/x-icon"/>
       <link rel="stylesheet" href="/styles/styles.css">
        <link rel="stylesheet" href="/styles/header.css">
    </head>

    <body>
        <header>
            <a href="https://rocketseat.com.br" target="_blank">
               <img src="/public/assets/logo.png" alt="logomarca"></a>
            <span>
                <a href="/">About Rocketseat</a>
                <a href="/">
                    Courses</a>
                <a href="https://discordapp.com/invite/gCRAFh" target="_blank">Comunity</a>
                <a href="mailto: oi@rocketseat.com.br" target="_blank">Email</a>
                <a href="tel:+5547992078767" target="_blank">Phone</a>
            </span>
        </header>
        <div class="content">
            <img class="photo" alt="Launchbase" src="https://images.pexels.com/photos/41162/moon-landing-apollo-11-nasa-buzz-aldrin-41162.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
            <h2>Challenge 02
            </h2>
            <p>
                This page was created during the Launchbase Bootcamp, as parte os challenge 2.
            </p>
            <p>The challenge a website using HTML, CSS and JavaScript. For this challenge, the respossive part was not created. This website is designed for a 1679px X 937px.
            </p>
        </div>

    </body>
</html>