{%extends "layout.njk"%}
{%block links%}
    <link rel="stylesheet" href="/styles/notfound.css">
    <link rel="stylesheet" href="/styles/header.css">
{%endblock links%}

{%block header%}{%endblock header%}

{%block content%}

 <h1> Sorry, the page you are looking for was not found. Please choose one of the options above. </h1>

 {%endblock content%}