header {
    background-color: rgba(54, 53, 54, 0.678);
    top: 0;
    padding: 0.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

header img {
    height: 80px;
    width: 160px;
}

header span a {
    color: white;
    align-items: center;
    margin-left: 30px;
    text-decoration: none;
}

header span a:hover {
    color: #f3ad17;
    transition: 200ms;
}